<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css Files/nav-bar-slide-bar.css">
    <link rel="stylesheet" href="../css Files/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>


    <div id="Background-cover-for-nav-bar"></div>

    <!-- Cut it From Here -->

    <div id="nav-side-bar" class="positon-nav-bar">
        <button> &leftarrow; Close menu</button>
        <button id="community"><a href="e"><i class="fa fa-weixin" aria-hidden="true"></i> Commuinity</a></button>

    
        <a href="/home">Home</a>
        <a href="e">Subbed Anime</a>
        <a href="e">Dubbed Anime</a>
        <a href="e">Most Popular</a>
        <a href="e">Movies</a>
        <a href="e">TV Series</a>
        <a href="e">Specials</a>
        

                    <!-- left-side 2nd container start here -->

        <h3 id="genre">Genres</h3>
        <div id="left-side-small-container">

       <div>
           <h5><a href="e" class="green-color">Action</a></h5>
           <h5><a href="e" class="sky-color">Harem</a></h5>
           <h5><a href="e" class="violet-color">Cars</a></h5>
           <h5><a href="e" class="orange-color">comedy</a></h5>
       </div>
       
       <div id="grid">
           <h5><a href="e" class="sky-color">Adventure</a></h5>
           <h5><a href="e" class="green-color">Action</a></h5>
           <h5><a href="e"class="orange-color">Action</a></h5>
           <h5><a href="e" class="violet-color">Action</a></h5>
       </div>
       <div>
           <h5><a href="e" class="violet-color">Demons</a></h5>
           <h5><a href="e" class="green-color">Action</a></h5>
           <h5><a href="e" class="sky-color">Action</a></h5>
           <h5><a href="e" class="orange-color">Action</a></h5>
       </div>

        </div>   

        <!-- left-side 2nd container end here -->
        `;
    </div>


    
    <!-- Cut to here -->


    <script src="../Script File/navbarInternal.js"></script>

</body>
</html>